@font-face {
    font-family: "Archangelsk";
    src: url("https://fontsforyou.com/fonts/a/Archangelsk.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #0f1111;
    font-family: "Archangelsk", sans-serif; /* Шрифт Archangelsk используется по умолчанию */
}

@media screen and (max-width: 1920px) {

    header {
        background-image: url('./assets/header/back-header.svg');
        color: #fff;
        height: 1000px;
        padding: 20px 20px 0 20px;
        z-index: -1;
        display: flex;
        justify-content: center;
    }

    .header-grid {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 32px;
        margin: 0 300px;
    }

    .grid-item-brand {
        width: 100%;
        grid-column: 1 / span 2;
        justify-self: start;
    }

    .logo img {
        height: 74px;
    }

    .grid-item-soc-net {
        grid-column: 6 / span 3;
        justify-self: end;
        display: flex;
    }

    .youtube-logo,
    .vk-logo,
    .facebook-logo,
    .twitter-logo,
    .twitch-logo {
        margin: 21px;
        height: 28px;
    }

    .instagram-logo {
        margin: 22px 0 22px 22px;
    }

    .block-learn-more {
        background-image: url("./assets/header/back-block-1.svg");
        grid-column: 5 / span 4;
        display: flex;
        flex-direction: column;
        height: 369px;
        align-self: end;
        padding: 70px;
    }

    .block-learn-more h2 {
        z-index: 1;
        font-size: 62px;
        font-family: "Archangelsk", serif;
        margin: 0 0 24px 0;
        color: black;
        font-weight: normal;
    }

    .block-learn-more button {
        background-color: black;
        color: #F8F200;
        height: 100%;
        width: 58%;
        padding: 25px 50px;
        font-size: 24px;
        font-family: "Roboto", sans-serif;
        border: none;
        cursor: pointer;
        font-weight: bold;
    }

    .about {
        height: 810px;
        padding: 71px 0 55px;
        display: flex;
    }

    .about-container {
        margin: 0 320px;
    }

    .about-container h2 {
        font-family: "Archangelsk", serif;
        font-size: 62px;
        margin: 0 0 25px;
        font-weight: normal;
    }

    .about-container p {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        margin: 0 0 60px;
        color: #777777;
        line-height: 34px;
    }

    .about-container p span{
        color: #52BEDC;
    }

    .about-container-img {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 32px;
    }

    .about-container-img-left {
        grid-column: 1 / span 3;
        display: flex;
        flex-direction: column;

    }

    .about-container-img-left-1 {
        margin: 0 0 35px;
    }

    .about-container-img-right {
        grid-column: 4 / span 5;
        display: flex;
        justify-content: flex-end;
    }

    .about-container-img-right img{
        width: 788px;
    }


    .before-block-3{
        background-image: url('./assets/block-3/before-block-3.svg');
        height: 70px;
        border-top: white 2px solid;
    }

    .akzia-block{
        background-color: black;
        height: 814px;
        color: white;
        padding: 15px 0 70px;
    }

    .akzia-container{
        margin: 0 320px;
        height: 100%;
    }


    .img-header-container{
        display: flex;
        margin: 0 0 23px;
    }

    .img-header-container h2{
        font-family:  "Archangelsk", sans-serif;
        padding-top: 70px;
        font-size: 62px;
        font-weight: normal;
    }

    .img-header-container img{
        margin-right: 32px;
    }

    .pred-form-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 32px;
    }

    .pred-form-container p{
        color: #777777;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        grid-column: 1 / span 6;
        justify-self: start;
        line-height: 34px;
        margin-bottom: 25px;
    }

    .pred-form-container p span{
        color: #52BEDC;
    }

    .pred-form-container form {
        grid-column: 1 / span 3;
        display: flex;
        flex-direction: column;
    }

    #name-input{
        padding: 11px 11px 11px 0;
        border: 1px none #777777;
        border-bottom-style: solid;
        background-color: #000000;
        color: #777777;
        margin: 73px 0 35px 0;
        font-size: 18px;
        font-family: "Roboto Light", sans-serif;
        width: 100%;
    }

    #email-input{
        padding: 11px 11px 11px 0;
        border: 1px none #777777;
        border-bottom-style: solid;
        background-color: #000000;
        color: #777777;
        margin: 0 0 36px;
        font-size: 18px;
        font-family: "Roboto Light", sans-serif;
        width: 100%;
    }

    #file-input{
        display: none;
    }

    .for-file-input{
        padding: 39px 137px;
        border: 1px dashed #777777;
        color: white;
        margin: 0 0 32px;
        font-size: 18px;
        font-family: "Roboto Light", sans-serif;
        width: 100%;
        cursor: pointer;
        text-align: center; /* Центрирование текста */
        display: inline-block;
    }

    .for-file-input span{
        text-decoration: underline;
    }

    #submit-input{
        background-color: #F8F200;
        color: black;
        height: 58px;
        width: 40%;
        font-size: 18px;
        font-family: "Roboto", sans-serif;
        border: none;
        cursor: pointer;
        font-weight: bold;
        margin: 0 0 16px;
    }

    .accept-checkbox{
        font-family: "Roboto", sans-serif;
        font-size: 12px;
    }

    .pred-form-container img {
        grid-column: 4 / span 5;
        justify-self: end;
    }

    .before-block-4{
        background-image: url('./assets/block-4/before-block-4.svg');
        height: 70px;
        border-top: black 3px solid;
    }


}
